.TopBar {
  height: 65px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.Logo {
  width: 200px;
  height: 65px;
  float: left;
  background-image: url("../../resources/images/Monash_logo-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Logout {
  position: absolute;
  right: 0;
  padding-right: 5em;
  font-size: 11pt;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: Transparent;
  font-family: "RobotoCondensed";
  border: none;
}

.Projects {
  position: absolute;
  right: 0;
  padding-right: 11em;
  font-size: 11pt;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: Transparent;
  font-family: "RobotoCondensed";
  border: none;
}

.Logout:hover {
  opacity: 0.7;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../../resources/fonts/Roboto-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: SquadaOne;
  src: url(../../resources/fonts/SquadaOne-Regular.ttf);
}
