.LeftSideBar__TopSection {
  width: 100%;
  font-size: 12px;
  height: 6em;
  background-color: #37464f;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
}

.logout {
  position: absolute;
  right: 0;
  padding-right: 5em;
  font-size: 11pt;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color:#37464f ;
}

.pageTitle {
  padding-left: 2em;
  font-family: "RobotoCondensed";
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../../resources/fonts/Roboto-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: SquadaOne;
  src: url(../../resources/fonts/SquadaOne-Regular.ttf);
}
