.Dashboard {
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: white;

  /*flex: 1 0 auto;*/
  /*min-height: 100vh;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*margin: 20px 10px 10px 10px;*/

  /*border: 0;*/
  /*font-size: 20px;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 80vh;
  margin-top: 10px;
}

.Header {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*min-height: 100vh;*/
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 20px 10px 0px 10px;
  /*border: 0;*/
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.Frame {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  flex-direction: row;
  /*flex: 1 0 auto;*/
  flex-wrap: wrap;
}

.ExmapleChart {
  margin: 10px;
  /*display: flex;*/
  /*border-width: 2px;*/
  /*border-color: black;*/
  /*flex-direction: row;*/

  /*display: grid;*/
  /*grid-template-areas:*/
  /*        "eta header"*/
  /*        ". details"*/
  /*        "actions actions";*/

  /*grid-template-rows: auto auto min-content;*/
  /*grid-template-columns: 60px auto;*/
  /*gap: 5px;*/

  height: 250px;
  width: 250px;
  min-height: 250px;
  min-width: 250px;
  border: 1px dotted grey;
}

.ExmapleContents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Table {
  width: 500px;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  flex-direction: row;
  /*flex: 1 0 auto;*/
  flex-wrap: wrap;
  padding-top: 0px;
}

.Rows {
  display: flex;
  alignItems: center;
  paddingLeft: 0px;
}

.Icon {
  alignItems: center;
  width: 10px;
  paddingRight: 0px;
}

.ReminderHeader {
  flex: 1;
  text-align: left;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.IntegrationHeader {
  flex: 1;
  text-align: left;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 0px;
}

.StyledTableCellHead {
  background-color: #001529;
  color: white !important;
  }

.StyledTableCellBody {
  font-size: 14px !important;
  }

.StyledTableRow {

}

.StyledTableRow:nth-of-type(even) {
  background-color: #f5f5f5;
}