:root{
  --left-sidebar-width: 15em;
  --left-sidebar-width--hide: -15em;
}


.LeftSideBar__LeftSection {
  position: fixed;
  width: var(--left-sidebar-width);
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #101f27;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  transition: all ease 0.5s;
  z-index: 3;
}


.LeftSideBar__LeftSection .LeftSideBar__LeftSection__topWrapper {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;    
  border-bottom: 1px solid #0004;
}

.LeftSideBar__LeftSection .LeftSideBar__LeftSection__menuWrapper {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

.LeftSideBar__LeftSection .LeftSideBar__LeftSection__menuWrapper li {
  margin-bottom: 1em;
}
      
.LeftSideBar__LeftSection .LeftSideBar__LeftSection__menuWrapper li a {
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


.LeftSideBar__LeftSection__show {
  transform: translateX(0);
}

.LeftSideBar__LeftSection__hide {
  transform: translateX(var(--left-sidebar-width--hide));
}