.SideBarItem li {
  margin-bottom: 1em;
}

.SideBarItemLink {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.FirstLevel {
  font-size: 11pt;
  color: white;
}

.SecondLevel {
  font-size: 9pt;
  color: lightgray;
  margin-left: 10px;
}
